h1{
    text-align: center;
    text-decoration: underline;
    border: 2px red groove ;
    border-radius: 8px;
    background-color: white;
    width: 500px;
    margin: auto;
    font-size: 2rem;
}

body{
    background-color: aliceblue;
    font-size: 1.2rem;
}

h3{
    margin-left: 5rem;
}

ul{
    margin-left: 5rem;
}

h2{
    font-size: 2rem;
    margin-left: 5rem;
    text-decoration: underline;
}

p{
    width: 50%;
    margin-left: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

button{
    margin-left: 6rem;
}

a{
    margin-left: 5rem;
    font-size: 1.2rem;
}

img{
    text-align: center;
    margin: auto;
    position: relative;
    left: 40%;
}





